/* Déclaration police du site */
@font-face {
font-family: "Philosopher";
src: url("font/Philosopher-Regular.ttf");
}
.issou form fieldset p {
  display: inline-block;
  position: relative;
  vertical-align: top;

}

.issou form fieldset p input {
  display: inline-block;
  position: relative;
  vertical-align: top;

}
#addpanier {
  border-bottom:none;
  width:40px;
  height:35px;
  margin-left: 50px;
}

.Panier a img {
  width: 35px;
}

.Panier, .Panier a, .Panier a img {
  vertical-align: top;
  margin-left: 20% !important;
  border: none !important;
}

.planetes {
  border: 0.05em solid grey;
  width: 35%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 400px;
  margin-left: 100px;
  margin-top: 50px
}

.planetes p {
  margin-left: 38%;
}
.planetes img {
  margin-left: 21%;
  z-index: -5;
}

#adminPlanetes, #adminPlanetes p, #adminClients, #adminClients p {
  display: inline-block;
  position: relative;
  width: 45%;
  border: 1px solid black;
  vertical-align: top;
}

#adminPlanetes, #adminClients {
  height: 100%;
  padding-top: 25px;
}
#adminPlanetes p, #adminClients p {
  border: 0px;
  margin-left: 33%;
}



      #navMenu {
        margin-left: 25% !important;
      text-align: center;
    }

    #menu, #menu ul {
      margin-left: 25% !important;
      list-style: none;
      padding: 0;
      list-style-type: none;
      position: absolute;
      top: 0;


     }

     ul a {
      text-decoration: none;
      
      display: block;
     }

    #menu {
      padding: 0; 
      margin: 0;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      width: 1320px;
      z-index: 25;
      
       
    }

    #menu > li {
      font-size: 15px;
      height: 50px;
      display: inline-block;
      width: 120px;
      /*background-color: #5f5f5f;*/
      border: 0.05em solid grey;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 7px;
      text-align: center;
      margin-top: 10px;
      top: 50%;


    }

    #menu > li > a {
      width: 100%;
      display: block;
      padding-top: 15px;
        height: 40px;
        font-size: 18px;



    }


    #menu > li > ul {
      top: -500%;
      left: -50px;
      text-align: center;
     /* background-color: #c2f6f7;
      border: 2px solid #c2f6f7;*/
      border-radius: 8px;
      transition: top .6s;
      width: 120px;
      z-index: -50;
      /*opacity: 0.0;*/

    }

    #menu > li:hover > ul {
      top: 60px;
      transition: top 0.2s;

      /*opacity: 1.0;
      transition: opacity 0.9s;*/

    }

    #menu > li:hover, #menu > li > ul > li:hover {
      border: 1px solid #c2f6f7;
    }

    #menu > li > ul > li > a{
      border-bottom:1px solid #c2f6f7;
      padding-top:8px;
      padding-bottom: 8px;
      transition: color 500ms;
      color: white;
    }

    #menu > li > ul > li > a:hover{
      border-bottom:1px solid #c2f6f7;
      padding-top:8px;
      padding-bottom: 8px;
      color: #c2f6f7;
      transition: color 500ms;
    }
   
    
  .bold {
    font-weight: bold;
  }


article img, form {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
      }

/* Regles du body */
body, html{
  background-color: black;
  font-family: "Philosopher";
  font-size: 20px;
    height: 99%;
    color: white;
}

body {
    display: flex !important;
  flex-direction: column !important;
  z-index: -10;
 
}

main {
    margin-left: 10%;
  margin-right: 10%;
    padding-top: 10%;
    flex: 1 0 auto !important;
}


label {
  vertical-align: top;
}


a {
  text-decoration: none;
  color: white;
}

a:not(.lienMenu) {
  text-decoration: none;
  color: #b1b2f9;
}


input {
    border: 0.05em solid grey;
   border-radius: 0px; 

}
input:not([type='submit']) {
    border: none;
    border-bottom: 2px solid #738173;
    color: white;
    background-color: black;
  }

input:not([type='submit']):not([type='number']) {
  height: 25px;
  width:200px;
  transition: width 500ms;
  font-size: 15px;

}


input[type=number] {
  height: 30px;
  width: 50px;
    border: 0.05em solid grey;
  border-radius: 5px;
}


input[type=submit]{
  height:30px;
}

input[type=submit]:hover, input[type=submit]:focus {
box-shadow: 2px 2px 2px #4982c9;
color:white;
background-color: grey;
transition: color 300ms;
transition: background-color 300ms
}

textarea {
  border-left: 0px;
  border-bottom: 2px solid #738173;
  border-top: 2px solid #738173;
  border-right: 0px;
  resize: none;
  background-color: #afbfd3;
  width: 15%;
   transition: color 500ms;
transition: background-color 500ms;
transition: width 500ms;
}

textarea:focus {
  background-color: black;
  color: white;
  width:25%;
 transition: color 500ms;
transition: background-color 500ms;
transition: width 500ms;
}

form {
  border: 0px;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}


.erreurFormulaire {
  font-size: 25px;
  color:red;
  padding: 3px;
  transition: color 500ms;
transition: background-color 500ms;
animation-name: blinker;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(.5, 0, 1, 1);
animation-duration: 1000ms;
}

.erreurFormulaire:hover {
  font-size: 25px;
  background-color:red;
  color: white;
  transition: color 500ms;
transition: background-color 500ms;
}

/* Reglage footer */
footer {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
   flex-shrink: 0 !important;
}


/*Les seules images sont celles des produits, taille fixe*/
 img {
  width: 300px;
 }

/*Css du panier et autres tableaux */
 table, tr, td, th {
  border: 0.01em solid white;
 }
