/* Déclaration police du site */
@font-face {
font-family: "Philosopher";
src: url("font/Philosopher-Regular.ttf");
}


      iframe {
        float: left;
        width: 100%;
        height: 400px;
      }

      .sidenav, #openav {
        display: none;
      }


      #navMenu {
      text-align: center;
    }

    #menu, #menu ul {
      list-style: none;
      padding: 0;
      list-style-type: none;
      position: absolute;
      top: 0;


     }

     ul a {
      text-decoration: none;
      color: black;
      display: block;
     }

    #menu {
      padding: 0; 
      margin: 0;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      width: 1320px;
      
       
    }

    #menu > li {
      font-size: 15px;
      height: 50px;
      display: inline-block;
      width: 120px;
      background-color: #7192bb;
      border: 1px solid #cbdcc9;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 7px;
      text-align: center;
      margin-top: 10px;
      top: 50%;

    }

    #menu > li > a {
      width: 100%;
      display: block;
      padding-top: 15px;
        height: 40px;



    }

    #menu > li:hover > a{
      color: black;
        transition: color 250ms linear;
        
    }

    #menu > li:hover{
      background-color: #c2f6f7;
        transition: background-color 0.5s linear;
        
    }

    



    #menu > li > ul {
      top: -500%;
      text-align: center;
      background-color: #c2f6f7;
      border: 2px solid #c2f6f7;
      border-radius: 8px;
      transition: top .6s;
      width: 120px;
      z-index: -50;
      /*opacity: 0.0;*/

    }

    #menu > li:hover > ul {
      top: 60px;
      transition: top 0.2s;

      /*opacity: 1.0;
      transition: opacity 0.9s;*/

    }

    #menu > li:hover, #menu > li > ul > li:hover {
      border: 1px solid #c2f6f7;
    }

    #menu > li > ul > li > a{
      border-bottom:1px solid #c2f6f7;
      padding-top:8px;
      padding-bottom: 8px;
      transition: color 500ms;
    }

    #menu > li > ul > li > a:hover{
      border-bottom:1px solid #c2f6f7;
      padding-top:8px;
      padding-bottom: 8px;
      color: #c2f6f7;
      transition: color 500ms;
    }
}   
    
  .bold {
    font-weight: bold;
  }

  #donne {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  }

  section.usercontent {
    width: 100%;
    display: inline-block;
  }

  .usercontent article{ 
    display: block;
    width: 60%;
    float: left;

  }
    .usercontent aside{ 
    width: 40%;
    float: right;
  }

  .usercontent > aside > img{ 
    width: inherit;
    width: 100px;
    height: 500px;
    width: 100%;
    float: left;
  }



article img, form {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
      }

/* Regles du body */
body, html{
  background-color: #afbfd3;
  font-family: "Philosopher";
  font-size: 20px;
    height: 99%;
}

body {
    display: flex !important;
  flex-direction: column !important;
  z-index: -10;
 
}

main {
    margin-left: 10%;
  margin-right: 10%;
    padding-top: 10%;
    flex: 1 0 auto !important;
}

header {


}

label {
  vertical-align: top;
}




a {
  text-decoration: none;
}

a:not(.lienMenu):not(.imgfooter) {
  text-decoration: none;
  color: #FFFFFF;


}

a:not(.lienMenu):not(.imgfooter):hover {
  

}

input {
    border: 2px solid #7192bb;
   border-radius: 0px; 

}
input:not([type='submit']) {
    border: none;
    border-bottom: 2px solid #738173;
    background-color: #afbfd3;
  }

input:not([type='submit']):not([type='number']) {
  height: 25px;
  width:200px;
  transition: width 500ms;
  font-size: 15px;

}


input[type=number] {
  height: 30px;
  width: 50px;
  border: 2px solid #738173;
  border-radius: 5px;
}


input[type=submit]{
  height:30px;
}

input[type=submit]:hover, input[type=submit]:focus {
box-shadow: 2px 2px 2px #4982c9;
color:white;
background-color: #4982c9;
transition: color 300ms;
transition: background-color 300ms
}

textarea {
  border-left: 0px;
  border-bottom: 2px solid #738173;
  border-top: 2px solid #738173;
  border-right: 0px;
  resize: none;
  background-color: #afbfd3;
  width: 15%;
   transition: color 500ms;
transition: background-color 500ms;
transition: width 500ms;
}

textarea:focus {
  background-color: #738173;
  color: white;
  width:25%;
 transition: color 500ms;
transition: background-color 500ms;
transition: width 500ms;
}

form {
  border: 0px;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}


.erreurFormulaire {
  font-size: 25px;
  color:red;
  padding: 3px;
  transition: color 500ms;
transition: background-color 500ms;
animation-name: blinker;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(.5, 0, 1, 1);
animation-duration: 1000ms;
}

.erreurFormulaire:hover {
  font-size: 25px;
  background-color:red;
  color: white;
  transition: color 500ms;
transition: background-color 500ms;
}

/* Reglage footer */
footer {
  margin-left: 10%;
  margin-right: 10%;
   flex-shrink: 0 !important;
}

#logos {
  display: inline-block;
  height: 15%;
  width: 100%;
  display: inline-block;
  margin-top: 10%;
  border-top: 1px solid #7192bb;
}

#logoFB , #logoTT , #logoGP, #logoBurger {
  padding-left: 1%;
  height: 25px;
  width: 25px;
  text-decoration: none;
}


.banniere {
/*  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 5;*/
  display: none;
}
 body {
  z-index: 2;
 }

 main {
  
 }

 img {
  width: 300px;
 }

 table, tr, td, th {
  border: 1px solid black;
 }
